RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 500 /error.php?errorCode=500
ErrorDocument 401 /error.php?errorCode=401
ErrorDocument 400 /error.php?errorCode=400
ErrorDocument 403 /error.php?errorCode=403
ErrorDocument 504 /error.php?errorCode=504
ErrorDocument 404 /error.php?errorCode=404
ErrorDocument 503 /error.php?errorCode=503