/* Template Stylesheet */
body {
    background: #ebebeb;
    overflow-x: hidden;
    margin: 0 auto;
}

.login {
    text-align: left;
    padding: 15px;
    background: #fff;
    height: 420px;
}

.login_container {
    margin-top:100px;
    background: url(../images/shadow.png) 56% bottom no-repeat;
    text-align: center;
    padding-bottom: 15px;
    height: 450px;
}

/* Dashboard */
.header {
    margin:10px;
}

.sidebar {
    background: #f9f9f9;
    min-height: 500px;
}

.user_profile {
    display: block;
    list-style: none;
    text-align: center;
}

.user_profile li {
}

.user {
    color:#787878;
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
text-align: center;
}

.welcome {
    color:#787878;
    font-size: 18px;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    margin: 0;
}




.main {
    padding:10px;
    background: #f9f9f9;
    min-height: 500px;
}

.linker {
    height: 93px;
    min-width: 200px;
    border-bottom: 10px;
    border-bottom-color: #3f3f3f;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    color: #fff;
    padding:5px 5px 5px 55px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 2px #cecece;
}

.linker a {
    text-decoration: none;
    color: #fff;
}

.linker a:hover {
    color: #cecece;
}

.linker:hover {
    border-bottom-color: red;
}

.linker h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size:13px;
    margin-bottom: 0px;
}

.linker p {
    font-family: "Source Sans Pro",sans-serif;
    font-size:12px;
    font-style: italic;
}

/* Background Icons for Dashboard Elements */
.profile {
    background:url(../images/profile_icon.png) no-repeat center left  #363435;
}

.products {
    background:url(../images/products_icon.png) no-repeat center left  #363435;
}

.services {
    background:url(../images/services_icon.png) no-repeat center left  #363435;
}

.vacancies {
    background:url(../images/vacancies_icon.png) no-repeat center left  #363435;
}

.promos {
    background:url(../images/promo_icon.png) no-repeat center left  #363435;
}

.qoutes {
    background:url(../images/qoutations_icon.png) no-repeat center left  #363435;
}

.management {
    background:url(../images/management_icon.png) no-repeat center left  #363435;
}

.calendar {
    background:url(../images/cal_icon.png) no-repeat center left  #363435;
}

.events {
    background:url(../images/events_icon.png) no-repeat center left  #363435;
}



/* text variations */
.thin {
    font-family: "Open Sans Light", "Helvitica", sans-serif;
    font-weight: 100 !important;
}

.condense {
    font-family: "Open Sans Condensed", "Helvitica", sans-serif;
    font-weight: 100 !important;
}

.uppercase{
    text-transform: uppercase;
}

.large {
    font-size: 1.9em;
}

.small {
    font-size: 0.7em;
}

.medium {
    font-size: 1.1em;
}

.bold {
    font-weight: 800 !important;
}

h2 {
    font-size: 1.2em !important;
}

p {
    font-size: .9em;
    text-align: left;
}


/* Colours */
.red {
    color: #eb3136 !important;
}

.black {
    color: #010101;
}

/* Size & Positioning */
.center {
    text-align: center !important;
}

.left {
    text-align: left !important;;
}

.right {
    text-align: right !important;;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.width10 {
    width: 10%;
}
.width20 {
    width: 20%;
}
.width30 {
    width: 30%;
}
.width40 {
    width: 40%;
}
.width50 {
    width: 50%;
}
.width60 {
    width: 70%;
}
.width80 {
    width: 80%;
}
.width90 {
    width: 90%;
}
.width100 {
    width: 100%;
}


/* Buttons */

input[type="button"], input[type="submit"] {
    border:none;
    color: #fff;
    font-size: 11px;
    padding-left: 40px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-family: "Open Sans", "Helvitica", sans-serif;
    text-transform: uppercase;
}

input[type="button"]:hover {
    font-weight: 800;
}

.login_btn  {
    background: url(../images/user_icon.png) 10px center no-repeat #eb3136;
    width:100%;
    display: block;
    height: 20px;
    margin-top: 10px;
    padding:8px 5px 5px 5px;
    text-indent: 30px;
    text-align: left;
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
}

.settings_btn  {
    background: url(../images/settings_icon.png) 10px center no-repeat #eb3136;
    width:100%;
    display: block;
    height: 20px;
    margin-top: 10px;
    padding:8px 5px 5px 5px;
    text-indent: 30px;
    text-align: left;
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
}

.mail_btn  {
    background: url(../../images/mail_icon.png) 10% 50% no-repeat #eb3136;
}


.register_btn  {
    background: url(../../images/register_icon.png) 10% 50% no-repeat #1e1e1e;
}

.register_btn  {
    background: url(../../images/settings_icon.png) 10% 50% no-repeat #1e1e1e;
}

#notification {
    text-align: center !important;
    width: 100%;
    padding: 5px 0px 5px 0px;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: 600;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    display: none;
    background: skyblue;
    height: auto;
    text-align: center !important;
    margin: 0 auto;
    text-transform: capitalize !important;
    text-decoration: none !important;
}

#alert {
    width: 100%;
    padding: 5px 0px 5px 0px;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: 600;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    background: darkred;
    display: none;
    height: auto;
    text-align: center !important;
    margin: 0 auto;
    text-transform: capitalize !important;
    text-decoration: none !important;
}

#alert p {
    text-align: center !important;
    margin-top: 5px;
}

#notification p {
    text-align: center !important;
    margin-top: 5px;
}

.modal u,
.modal u li {
    display: block !important;
    list-style: none !important;
    text-decoration: none !important;
}

/* Products Page Styling */
     .single-item {

    border-top : 2px solid #cecece;
         padding: 5px;
         background #efefef;
        font-size:12px;
     }

    .itemDescription,
    .itemName{
        display: block;
        clear: right;
        line-height: 25px;
        min-height: 60px;
        padding: 2px;
    }

    .itemDescription a,
    .itemName a{
        display: block;
        clear: right;
        line-height: 25px;
        min-height: 60px;
        padding: 2px;
    }



